body {
  background-color: indigo;
  font-family: Open Sans, "Medium 500 italic", sans-serif;
  color: hsl(40, 30%, 20%);
}

p:hover,h2 {
  color: rgb(240, 240, 100);
}

p.paragraph {
  color-background: brown;
}

a[href="https://youtu.be/dQw4w9WgXcQ"] {
  color: green;
}

div {
  flex-shrink: 1;
  flex-flow: column wrap;
  flex: none;
  grid-column-start: 1;
  grid-column-end: four;
  grid-area: header;
}

#one {
  color: red;
}

* {
  background-color: indigo;
}

@media (width <= 100em) {
  h1 { /*for biggest header*/
    color: navy;
    text-decoration: underline;
    text-align: center;
  }
}

h2 {  /*for second biggest header*/
  color: rgb(240, 240, 100);
}

h3 {  /*for third biggest header*/
  color: #ffff00;
  display: none;
}

ul li{
  border-style: inset;
  border-color: blue;
  padding: .3em;
  margin: 5px;
}

ol > li{
  color: red;
}

div + body {
  background-color: red;
}

p ~ body {
  color: indigo
}

.bx {
  margin_top: -10px;
  padding-top: 5%;
  display: inline;
  height: 10vh;
  width: 10ex;
  position: fixed;
}

ol {
  padding: 5pt;
  border-width: 3cm;
  border-radius: 20px;
  margin: auto;
  max-width: 20px;
  max-width: 5px;
  position: static;
}

.btton:hover > body{
  background-color: yellow;
}

.btton1:active {
  background-color: green;
}
